# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.test
.env.production

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.test
.env.production

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?